<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Dầu lạc nguyên chất">
    <meta name="keywords"
          content="Dầu lạc nguyên chất">
    <style type="text/css">
        label.error {
            display: inline-block;
            font-style: italic;
            color: red;
        }
    </style>
    <link rel="stylesheet" th:href="@{/assets/css/animate.css}"/>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/family.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/family2.css}"/>
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"/>
    <link rel="stylesheet" th:href="@{/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/owlcarousel/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/owlcarousel/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{/assets/owlcarousel/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <script th:src="@{/assets/js/counter.js}"></script>
</head>
<body>

<!-- Load Facebook SDK for JavaScript -->

<div id="fb-root"></div>


<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="2169759239938538"
     theme_color="#67b868"
     logged_in_greeting="Chào bạn? Mình có thể giúp được gì cho bạn"
     logged_out_greeting="Chào bạn? Mình có thể giúp được gì cho bạn">
</div>
<!-- Your customer chat code -->
<!-- Load Facebook SDK for JavaScript -->
<div  ng-app="ProductManagement" ng-controller="ProductController">


<div th:replace="fragments/main-fragment :: preloader"></div>
<div th:replace="fragments/main-fragment :: header"></div>
<div layout:fragment="content"></div>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="text-center">
                        <div class="heading_s1 text-center animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                            <h2>Đối tác của chúng tôi</h2>
                        </div>

                        <div class="small_divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="carousel_slide5 owl-carousel owl-theme" data-margin="30" data-dots="false" data-loop="true" data-autoplay="true">
                        <div class="items">
                            <a href="#"><img src="assets/images/logo-sendo.png" alt="cl_logo1"/></a>
                        </div>
                        <div class="items">
                            <a href="#"><img src="assets/images/danh-gia-kinh-nghiem-mua-hang-tren-tiki-21.jpg" alt="cl_logo2"/></a>
                        </div>
                        <div class="items">
                            <a href="#"><img src="assets/images/Lazada-master-logo.png" alt="cl_logo3"/></a>
                        </div>
                        <div class="items">
                            <a href="#"><img src="assets/images/adayroi-logo.jpg" alt="cl_logo4"/></a>
                        </div>
                        <div class="items">
                            <a href="#"><img src="assets/images/logo-shopee.png" alt="cl_logo5"/></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
<div th:replace="fragments/main-fragment :: contact"></div>
<div th:replace="fragments/main-fragment :: footer"></div>

<div class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
            <a href="tel:0326784656" class="pps-btn-img">
                <img th:src="@{../assets/images/icon-call-nh.png}" alt="Gọi điện thoại" width="50">
            </a>
        </div>
    </div>
    <div class="hotline-bar">
        <a href="tel:0326784656">
            <span class="text-hotline">0326.784.656</span>
        </a>
    </div>
</div>

</div>


<!-- Load Facebook SDK for JavaScript -->



<!-- Your customer chat code -->

</body>
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
<script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/owlcarousel/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/waypoints.min.js}"></script>
<script th:src="@{/assets/js/parallax.js}"></script>
<script th:src="@{/assets/js/jquery.dd.min.js}"></script>
<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
<script th:src="@{../assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/assets/js/jquery.parallax-scroll.js}"></script>
<script th:src='@{/assets/js/jquery.elevatezoom.js}'></script>
<script th:src="@{/assets/js/jquery.fitvids.js}"></script>
<script th:src="@{/assets/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/assets/js/isotope.min.js}"></script>
<script th:src="@{/assets/js/js.cookie.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{../assets/js/angularjs.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.8/angular-sanitize.js"
        type="text/javascript"></script>
<script type="text/javascript"
        src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script th:src="@{../assets/js/product.js}"></script>
<script th:src="@{/assets/js/shop-quick-view.js}"></script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v5.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</html>