<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>


</head>

<body>

<div id="preloader" th:fragment = "preloader">

</div>

<header class="header_wrap dark_skin main_menu_uppercase" th:fragment = "header">
    <div class="top-header bg_gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <ul class="contact_detail border_list list_none text-center text-md-left">
                        <li><a href="#"><i class="ti-mobile"></i> <span>0326784656</span></a></li>
                        <li><a href="#"><i class="ti-email"></i> <span>daulachungluyen@gmail.com</span></a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="header_list border_list list_none header_dropdown text-center text-md-right">
                        <li>
                            <div class="custome_dropdown">
                                <select name="countries" class="custome_select">
                                    <option value='en' data-title="English">Tiếng Việt</option>
                                    <option value='fn' data-title="France">Tiếng Anh</option>
                                </select>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Tài khoản</a>
                            <div class="dropdown-menu shadow dropdown-menu-right">
                                <ul>
                                    <li><a class="dropdown-item" href="">Quản lý tài khoản</a></li>
                                    <li><a class="dropdown-item" href="">Thanh toán</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" th:href="@{/}">
                <img class="logo_light" src="../assets/images/logo.png" alt="logo"/>
                <img class="logo_dark" src="../assets/images/logo.png" alt="logo"/>
                <img class="logo_default" src="../assets/images/logo.png" alt="logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="ion-android-menu"></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" th:href="@{/}">Trang chủ</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/san-pham}">Sản phẩm</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/gioi-thieu}">Giới thiệu</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/blog}">Blog</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/lien-he}">Liên hệ </a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav attr-nav align-items-center">
                <li><a href="javascript:void(0);" class="nav-link search_trigger"><i class="ion-ios-search-strong"></i></a>
                    <div class="search-overlay">
                        <div class="search_wrap">
                            <form id="formsearch">
                                <div class="rounded_input">
                                    <input type="text" placeholder="Search" class="form-control" id="search">
                                </div>
                                <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="dropdown cart_wrap" >
                    <a class="nav-link" href="#" data-toggle="dropdown"><i class="ion-bag"></i><span class="cart_count">{{amount}}</span></a>
                    <div class="cart_box dropdown-menu dropdown-menu-right">
                        <div id="cart1">
                        <ul class="cart_list" >
                            <li ng-repeat="p in carts">
                                <a href="#" class="item_remove" ng-click="remove(p)"><i class="ion-close"></i></a>
                                <a href="#"><span ng-bind-html="p.product.img"></span>{{p.product.name}}</a>
                                <span class="cart_quantity"> {{p.quantity}} X <span class="cart_amount"> <span class="price_symbole">{{p.product.price | currency  : "VNĐ "}}</span></span></span>
                            </li>

                        </ul>
                        <div class="cart_footer">
                            <p class="cart_total">Tổng tiền <span class="cart_amount"> <span
                                    class="price_symbole">{{total | currency  : "VNĐ "}}</span> </span></p>
                            <p class="cart_buttons"><a th:href="@{/gio-hang}" class="btn btn-default btn-radius view-cart">Giỏ hàng
                                </a><a th:href="@{/gio-hang/thanh-toan}" class="btn btn-dark btn-radius checkout">Thanh toán</a>
                            </p>
                        </div>
                        </div>
                        <div id="cart2">
                            <ul class="cart_list" >
                                <li>
                                    <a href="#">0 có sản phẩm nào trong giỏ hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="bg_light_green newslatter_wrap" th:fragment = "contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <div class="heading_s1 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <h2>
                        Theo dõi Bản tin của chúng tôi</h2>
                </div>
                <p class="m-0 animation" data-animation="fadeInUp" data-animation-delay="0.03s">Để được cập nhật những
                    thông tin mới nhất</p>
                <div class="small_divider"></div>
                <div class="newsletter_form animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <form id="formemail">
                        <div class="rounded_input">
                            <input type="email" class="form-control" id="email2" required="" placeholder="Nhập email của bạn">
                        </div>
                        <button type="submit"  title="Subscribe" class="btn btn-default" >
                            Gửi
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="overlap_shape">
        <div class="ol_shape19">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="../assets/images/shape34.png" alt="shape34"/>
            </div>
        </div>
        <div class="ol_shape20">
            <div class="animation" data-animation="fadeInRight" data-animation-delay="0.5s">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="../assets/images/shape35.png" alt="shape35"/>
            </div>
        </div>
    </div>
</section>
<footer class="bg_gray" th:fragment = "footer">
    <div class="top_footer small_pt small_pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer_logo">
                        <a th:href="@{/}"><img alt="logo" src="../assets/images/logo.png"></a>
                    </div>
                    <div class="footer_desc">
                        <p>Hãy liên hệ với chúng tôi</p>
                    </div>
                    <ul class="contact_info list_none">
                        <li>
                            <span class="ti-mobile"></span>
                            <p>+84326784656</p>
                        </li>
                        <li>
                            <span class="ti-email"></span>
                            <a href="mailto:info@yourmail.com">daulachungluyen@gmail.com</a>
                        </li>
                        <li>
                            <span class="ti-location-pin"></span>
                            <address>75 Hồ Tùng Mậu, Mai Dịch, Cầu Giấy, Hà Nội</address>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <h5 class="widget_title">Thông tin</h5>
                    <ul class="list_none widget_links">
                        <li><a href="#">Thông tin giao hàng</a></li>
                        <li><a href="#">Thanh toán an toàn</a></li>
                        <li><a href="#">Liện hệ với chúng tôi</a></li>
                        <li><a href="#">Bán chạy</a></li>

                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <h5 class="widget_title">Hỗ trợ khách hàng</h5>
                    <ul class="list_none widget_links">
                        <li><a href="#">Tài khoản</a></li>
                        <li><a href="#">Mua hàng</a></li>
                        <li><a href="#">Địa chỉ</a></li>
                        <li><a href="#">
                            Giảm giá</a></li>
                        <li><a href="#">
                            Lịch sử đặt hàng</a></li>
                        <li><a href="#">Theo dõi đơn hàng</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4">
                    <h5 class="widget_title">Instagram</h5>
                    <ul class="list_none instafeed">
                        <li><a href="#"><img src="../assets/images/insta_img1.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img2.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img3.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img4.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img5.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img6.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img7.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="#"><img src="../assets/images/insta_img8.jpg" alt="insta_img"><span
                                class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="middle_footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shopping_info">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="icon_box icon_box_style2">
                                    <div class="box_icon">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <div class="intro_desc">
                                        <h5>Miễn phí vận chuyển </h5>
                                        <p>Nội thành Hà Nội</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon_box icon_box_style2">
                                    <div class="box_icon">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div class="intro_desc">
                                        <h5>Hỗ trợ 24/7</h5>
                                        <p>0326784656</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon_box icon_box_style2">
                                    <div class="box_icon">
                                        <i class="far fa-life-ring"></i>
                                    </div>
                                    <div class="intro_desc">
                                        <h5>
                                            Giờ làm việc</h5>
                                        <p>
                                            Tất cả các ngày trong tuần</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <p class="copyright m-lg-0 text-center">Bản quyền thuộc về Dầu lạc hùng luyên </p>
                </div>
                <div class="col-lg-4 order-lg-first">
                    <ul class="list_none footer_payment text-center text-lg-left">
                        <li><a href="#"><img src="../assets/images/visa.png" alt="visa"/></a></li>
                        <li><a href="#"><img src="../assets/images/discover.png" alt="discover"/></a></li>
                        <li><a href="#"><img src="../assets/images/master_card.png" alt="master_card"/></a></li>
                        <li><a href="#"><img src="../assets/images/paypal.png" alt="paypal"/></a></li>
                        <li><a href="#"><img src="../assets/images/amarican_express.png" alt="amarican_express"/></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list_none social_icons radius_social text-center text-lg-right">
                        <li><a href="https://www.facebook.com/daulacnguyenchat.com.vn" class="sc_facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="sc_twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="sc_google"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#" class="sc_instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" class="sc_pinterest"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="overlap_shape">
        <div class="ol_shape21">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="../assets/images/shape36.png" alt="shape36"/>
            </div>
        </div>
        <div class="ol_shape22">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="../assets/images/shape37.png" alt="shape37"/>
            </div>
        </div>
        <div class="ol_shape23">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="../assets/images/shape38.png" alt="shape38"/>
            </div>
        </div>
        <div class="ol_shape24">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="../assets/images/shape39.png" alt="shape39"/>
            </div>
        </div>
    </div>
</footer>



</body>
</html>