<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Không tìm thấy trang</title>


</head>

<body>


<div layout:fragment="content">
    <section class="bg_light_yellow breadcrumb_section background_bg bg_fixed bg_size_contain" data-img-src="assets/images/breadcrumb_bg.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 text-center">
                    <div class="page-title">
                        <h1>Trang bạn nhập không thấy</h1>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Không tìm thấy trang</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION BANNER -->


    <!-- START SECTION FAQ -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-9 text-center">
                    <div class="error_txt background_bg" data-img-src="assets/images/404_text_bg.png">404</div>
                    <div class="heading_s2 mb-2">
                        <h5>Bạn đã nhập sai đường dẫn của trang</h5>
                    </div>
                    <p>Vui lòng nhập lai nha</p>
                    <a th:href="@{/}" class="btn btn-outline-black">Trang chủ</a>
                </div>
            </div>
        </div>
        <div class="overlap_shape">
            <div class="ol_shape25">
                <div class="animation" data-animation="bounceInDown" data-animation-delay="0.5s">
                    <img data-parallax='{"y": -30, "smoothness": 20}' src="assets/images/shape44.png" alt="shape44"/>
                </div>
            </div>
            <div class="ol_shape3">
                <div class="animation" data-animation="zoomIn" data-animation-delay="0.5s">
                    <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape45.png" alt="shape45"/>
                </div>
            </div>
            <div class="ol_shape26">
                <div class="animation" data-animation="zoomIn" data-animation-delay="0.5s">
                    <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape46.png" alt="shape46"/>
                </div>
            </div>
            <div class="ol_shape28">
                <div class="animation" data-animation="bounceInUp" data-animation-delay="0.5s">
                    <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape47.png" alt="shape47"/>
                </div>
            </div>
            <div class="ol_shape29">
                <div class="animation" data-animation="slideInRight" data-animation-delay="0.5s">
                    <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape48.png" alt="shape48"/>
                </div>
            </div>
            <div class="ol_shape30">
                <div class="animation" data-animation="slideInRight" data-animation-delay="0.5s">
                    <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape49.png" alt="shape49"/>
                </div>
            </div>
            <div class="ol_shape31">
                <div class="animation" data-animation="slideInRight" data-animation-delay="0.5s">
                    <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape50.png" alt="shape50"/>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>