<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <title>Trang quản trị</title>
    <style>
        img {width: 200px;
            height: 150px;}
    </style>

</head>
<body ng-app="bb" ng-controller="aa">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <br><br>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>Chào mừng bạn đến với trang admin</h1>
                </div>
            </div>

            <br><br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Quản lý sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Quản lý loại sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Quản lý đơn đặt hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tabb" data-toggle="tab" href="#blog" role="tab"
                       aria-controls="blog" aria-selected="false">Quản lý Blog</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    Danh sách sản phẩm
                    <br><br>
                    <button type="button" ng-click="createProduct()" data-toggle="modal"
                            data-target=".bd-example-modal-xl" class="btn btn-primary">Thêm sản phẩm
                    </button>
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr>

                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Loại sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Link</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in products">

                            <td>{{p.name}}</td>
                            <td>{{p.typeProduct.name}}</td>
                            <td>{{p.amount}}</td>
                            <td><span ng-bind-html="p.img"></span></td>
                            <td>{{p.price | currency : "VNĐ "}}</td>
                            <td>{{p.url}}</td>
                            <td>
                                <button type="button" ng-click="editProduct(p)" data-toggle="modal"
                                        data-target=".bd-example-modal-xl" class="btn btn-info">Sửa
                                </button>
                            </td>
                            <td>
                                <button ng-click="deleteProduct(p)" type="button" class="btn btn-danger">Xóa</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    Danh sách loại sản phẩm
                    <br><br>
                    <button type="button" ng-click="createTypeProduct()" data-toggle="modal"
                            data-target=".bd-example-modal-lg2" class="btn btn-primary">Thêm loại sản phẩm
                    </button>
                    <br><br>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Mã loại sản phẩm</th>
                            <th scope="col">Tên loại sản phẩm</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in typeproducts">
                            <th scope="row">{{p.id}}</th>
                            <td>{{p.name}}</td>

                            <td>
                                <button ng-click="editTypeProduct(p)" data-toggle="modal"
                                        data-target=".bd-example-modal-lg2" type="button" class="btn btn-info">Sửa
                                </button>
                            </td>
                            <td>
                                <button ng-click="deleteTypeProduct(p)" type="button" class="btn btn-danger">Xóa
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <br>
                    Danh sách đơn đặt hàng
                    <br><br>
                    <table class="table table-bordered">
                        <thead>
                        <tr>

                            <th scope="col">Tên khách hang</th>
                            <th scope="col">Email</th>
                            <th scope="col">Địa chỉ giao hàng</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Ngày mua hàng</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Xem chi tiết</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in bills">

                            <td>{{p.name}}</td>
                            <td>{{p.email}}</td>
                            <td>{{p.address}}</td>
                            <td>{{p.phone}}</td>
                            <td>{{p.total | currency : "VNĐ "}}</td>
                            <td>{{p.date | date:'dd/MM/yyyy'}}</td>
                            <td>{{p.status}}</td>
                            <td>{{p.note}}</td>
                            <td>
                                <button ng-click="info(p)" data-toggle="modal" data-target=".bd-example-modal-lg"
                                        type="button" class="btn btn-info">Xem chi tiết
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="blog" role="tabpanel" aria-labelledby="contact-tabb">
                    <br><br>
                    <h3>Danh sách Blog</h3>


                    <button type="button"  data-toggle="modal"
                            data-target=".bd-example-modal-xl2" ng-click="createBlog()" class="btn btn-primary">Thêm Blog
                    </button>

                    <br><br>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col">Ngày đăng</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in blogs">
                            <th scope="row">{{p.title}}</th>
                            <td>{{p.date | date:'dd/MM/yyyy'}}</td>

                            <td>
                                <button ng-click="editBlog(p)" data-toggle="modal"
                                        data-target=".bd-example-modal-xl2"  type="button" class="btn btn-info">Sửa
                                </button>
                            </td>

                            <td>
                                <button ng-click="deleteBlog(p)" type="button" class="btn btn-danger">Xóa
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>


                </div>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết đơn đặt hàng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <br>


                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Số lượng</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="p in billDetails">
                                        <th scope="row">{{p.product.name}}</th>
                                        <td><span ng-bind-html="p.product.img"></span></td>
                                        <td>{{p.amount}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle2">Thêm sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <br>

                                <form ng-submit="submitProduct()">
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefault01">Tên sản phẩm</label>
                                            <input type="text" ng-model="productForm.name" class="form-control"
                                                   id="validationDefault01" value="" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Loại sản phẩm</label>
                                            <select required class="custom-select" ng-model="productForm.typeProduct">
                                                <option ng-repeat="p in typeproducts" value="{{p.id}}">{{p.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Đơn giá</label>
                                            <input type="text" ng-model="productForm.price" class="form-control"
                                                   value="" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationDefault03">Số lượng</label>
                                            <input type="text" class="form-control" ng-model="productForm.amount"
                                                   id="validationDefault03" placeholder="" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefault04">Link ảnh</label>
                                            <input type="text" class="form-control" ng-model="productForm.img"
                                                   id="validationDefault04" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefault05">Url</label>
                                            <input type="text" class="form-control" ng-model="productForm.url"
                                                   id="validationDefault05" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="validationDefault05">Chi tiết sản phẩm</label>
                                        <textarea class="form-control"  ng-model="productForm.detail" rows="5" id="comment" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="validationDefault05">Nội dung bài viết</label>
                                        <textarea ng-model="productForm.content" class="form-control"  id="contentBlog2" rows="10" placeholder="Nhập nội dung bài viết" required > </textarea>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Thêm</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle3">Thêm loại sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <br>
                            <form ng-submit="submitTypeProduct()" id="formTypeProduct">

                                <div class="form-group">
                                    <label>Nhập tên loại sản phẩm</label>
                                    <input type="text" class="form-control" id="nameTypeProduct"
                                           ng-model="typeProductForm.name" placeholder="Nhập tên loại sản phẩm">
                                </div>

                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade bd-example-modal-xl2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle4">Thêm Blog</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <br>
                            <form ng-submit="submitBlog()">

                                <div class="form-group">
                                    <label>Tiêu đề bài viết</label>
                                    <input  type="text" class="form-control"
                                           ng-model="blogForm.title" placeholder="Tiêu đề bài viết">
                                </div>
                                <div class="form-group">
                                    <label>Link bài viết</label>
                                    <input  type="text" class="form-control"
                                            ng-model="blogForm.url" placeholder="Url của bài viết">
                                </div>
                                <div class="form-group">
                                    <label>Nội dung rút gọn</label>
                                    <input  type="text" class="form-control"
                                            ng-model="blogForm.summary" placeholder="Nội dung rút gọn">
                                </div>
                                <div class="form-group">
                                    <label>Thumbai</label>
                                    <input type="text" class="form-control" ng-model="blogForm.thumb" placeholder="Link ảnh">
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault05">Nội dung bài viết</label>
                                    <textarea ng-model="blogForm.content" class="form-control"  id="contentBlog" rows="10" placeholder="Nhập nội dung bài viết" required > </textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/angularjs.js}"></script>
<script th:src="@{/ckeditor/ckeditor.js}"></script>
<script th:src="@{/ckfinder/ckfinder.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.8/angular-sanitize.js" type="text/javascript"></script>


<script>


    $('.modal').removeAttr("tabindex");


    var app = angular.module("bb", ["ngSanitize"]);



    app.controller("aa", function ($scope, $http) {
        $scope.products = [];
        $scope.typeproducts = [];
        $scope.bills = [];
        $scope.billDetails = [];
        $scope.blogs = [];

        $scope.productForm = {
            id: "",
            amount: "",
            detail: "",
            img: "",
            name: "",
            price: "",
            typeProduct: {
                id: ""
            },
            url: "",
            content: ""

        };
        $scope.typeProductForm = {
            id: "",
            name: ""
        }
        $scope.blogForm = {
            id: "",
            title: "",
            content: "",
            summary: "",
            date : "",
            thumb: "",
            url : ""
        }


        function clearFormTypeProductData() {
            $scope.typeProductForm.id = -1;
            $scope.typeProductForm.name = ""
        };
        $scope.editTypeProduct = function (employee) {
            $scope.typeProductForm.id = employee.id;
            $scope.typeProductForm.name = employee.name;

        };
        $scope.createTypeProduct = function () {
            clearFormTypeProductData();
        }

        function clearFormProductData() {
            $scope.productForm.id = -1;
            $scope.productForm.amount = "";
            $scope.productForm.detail = "";
            $scope.productForm.img = "";
            $scope.productForm.name = "";
            $scope.productForm.price = "";
            $scope.productForm.typeProduct.id = "";
            $scope.productForm.url = "";
            CKEDITOR.instances["contentBlog2"].setData("");
        };
        $scope.editProduct = function (p) {
            $scope.productForm.id = p.id;
            $scope.productForm.amount = p.amount;
            $scope.productForm.detail = p.detail;
            $scope.productForm.img = p.img;
            $scope.productForm.name = p.name;
            $scope.productForm.price = p.price;
            $scope.productForm.typeProduct = p.typeProduct;
            $scope.productForm.url = p.url;
            CKEDITOR.instances["contentBlog2"].setData(p.content);

        };
        $scope.createBlog = function () {
            clearFormBlog();
        }
        function clearFormBlog() {
            $scope.blogForm.id = -1;
            $scope.blogForm.title = ""
            $scope.blogForm.date = ""
            $scope.blogForm.content = ""
            $scope.blogForm.summary = ""
            $scope.blogForm.thumb = ""
            $scope.blogForm.url = ""
            CKEDITOR.instances["contentBlog"].setData("");
        };
        $scope.editBlog = function (p) {
           CKEDITOR.instances["contentBlog"].setData(p.content);
            $scope.blogForm.id = p.id;
            $scope.blogForm.title = p.title;
            $scope.blogForm.date = p.date;
            $scope.blogForm.summary = p.summary;
            $scope.blogForm.thumb = p.thumb;
            $scope.blogForm.url = p.url;
        };
        $scope.createProduct = function () {
            clearFormProductData();
        }
        $scope.submitProduct = function () {
            $scope.productForm.content=CKEDITOR.instances["contentBlog2"].getData();
            var method = "";
            var url = "";
            if ($scope.productForm.id == -1) {
                method = "POST";
                url = '/api/saveProduct';
            } else {
                method = 'PUT'
                url = '/api/updateProduct'

            }
            $http({
                method: method,
                url: url,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                data: $.param($scope.productForm)

            }).then(
                function (res) { // success
                    _refreshData();
                    alert("Thành công")
                },
                function (res) { // error

                    alert("Thất bại")
                }
            );
        };

        $scope.submitBlog = function () {

            $scope.blogForm.content=CKEDITOR.instances["contentBlog"].getData();
            var method = "";
            var url = "";
            if ($scope.blogForm.id == -1) {
                method = "POST";
                url = '/api/saveBlog';
            } else {
                method = 'PUT'
                url = '/api/updateBlog'

            }
            $http({
                method: method,
                url: url,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                data: $.param($scope.blogForm)

            }).then(
                function (res) { // success
                    _refreshData4();
                    alert("Thành công")
                },
                function (res) { // error

                    alert("Thất bại")
                }
            );

        }


        $scope.submitTypeProduct = function () {


            var method = "";
            var url = "";
            if ($scope.typeProductForm.id == -1) {
                method = "POST";
                url = '/api/saveTypeProduct';
            } else {
                method = 'PUT'
                url = '/api/updateTypeProduct'

            }
            $http({
                method: method,
                url: url,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                data: $.param($scope.typeProductForm)

            }).then(
                function (res) { // success
                    _refreshData2();
                    alert("Thêm loại sản phẩm thành công")
                },
                function (res) { // error

                    alert("Thêm loại sản phẩm thất bại")
                }
            );
        };

        $scope.deleteBlog = function (p) {
            $http({
                method: 'DELETE',
                url: '/api/deleteBlog/' + p.id
            }).then(
                function (res) { // success
                    _refreshData4();
                    alert("Xóa Blog thành công")
                },
                function (res) { // error
                    alert("Xóa Blog thất bại ")
                }
            );
        };

        $scope.deleteProduct = function (p) {
            $http({
                method: 'DELETE',
                url: '/api/deleteProduct/' + p.id
            }).then(
                function (res) { // success
                    _refreshData();
                    alert("Xóa sản phẩm thành công")
                },
                function (res) { // error
                    alert("Xóa sản phẩm thất bại")
                }
            );
        };

        $scope.deleteTypeProduct = function (p) {
            $http({
                method: 'DELETE',
                url: '/api/deleteTypeProduct/' + p.id
            }).then(
                function (res) { // success
                    _refreshData2();
                    alert("Xóa loại sản phẩm thành công")
                },
                function (res) { // error
                    alert("Xóa loại sản phẩm thất bại")
                }
            );
        };

        _refreshData();
        _refreshData2();
        _refreshData3();
        _refreshData4();

        function _refreshData() {
            $http({
                method: 'GET',
                url: '/api/allProduct'
            }).then(
                function (res) { // success
                    $scope.products = res.data;
                },
                function (res) { // error
                    console.log("Error: " + res.status + " : " + res.data);
                }
            );
        }

        function _refreshData2() {
            $http({
                method: 'GET',
                url: '/api/allTypeProduct'
            }).then(
                function (res) { // success
                    $scope.typeproducts = res.data;
                },
                function (res) { // error
                    console.log("Error: " + res.status + " : " + res.data);
                }
            );
        }

        function _refreshData3() {
            $http({
                method: 'GET',
                url: '/api/allBill'
            }).then(
                function (res) { // success
                    $scope.bills = res.data;
                },
                function (res) { // error
                    console.log("Error: " + res.status + " : " + res.data);
                }
            );
        }

        function _refreshData4() {
            $http({
                method: 'GET',
                url: '/api/allBlog'
            }).then(
                function (res) { // success
                    $scope.blogs = res.data;
                },
                function (res) { // error
                    console.log("Error: " + res.status + " : " + res.data);
                }
            );
        }

        $scope.info = function (p) {

            $http({
                method: 'GET',
                url: '/api/billDetail/' + p.id
            }).then(
                function (res) { // success
                    $scope.billDetails = res.data;
                },
                function (res) { // error
                    console.log("Error: " + res.status + " : " + res.data);
                }
            );
        };
    });
    CKEDITOR.replace('contentBlog',{
        filebrowserBrowseUrl : 'ckfinder/ckfinder.html',
        filebrowserImageBrowseUrl : 'ckfinder/ckfinder.html?type=Images',
        filebrowserFlashBrowseUrl : 'ckfinder/ckfinder.html?type=Flash',
        filebrowserUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images',
        filebrowserFlashUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash'
    });
    CKEDITOR.replace('contentBlog2',{
        filebrowserBrowseUrl : 'ckfinder/ckfinder.html',
        filebrowserImageBrowseUrl : 'ckfinder/ckfinder.html?type=Images',
        filebrowserFlashBrowseUrl : 'ckfinder/ckfinder.html?type=Flash',
        filebrowserUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images',
        filebrowserFlashUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash'
    });
    CKEDITOR.config.extraPlugins = "image2";

</script>
</body>
</html>