<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog chia sẻ</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151613987-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151613987-1');
    </script>

</head>
<body>
<div layout:fragment="content">
    <section class="bg_light_yellow breadcrumb_section background_bg bg_fixed bg_size_contain" data-img-src="assets/images/breadcrumb_bg.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 text-center">
                    <div class="page-title">
                        <h1>Blog</h1>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Blog</a></li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION BANNER -->

    <!-- START SECTION BLOG -->
    <section>
        <div class="container">
            <div class="row">


                <div class="col-12" th:each="b:${blog}">
                    <div class="blog_post">
                        <div class="blog_img">
                            <a th:href="@{'/blog/' +${b.url}}">
                               <span th:utext="${b.thumb}"></span>
                            </a>
                        </div>
                        <div class="blog_content">
                            <h4 class="blog_title"><a th:href="@{'/blog/' +${b.url}}" th:text="${b.title}"></a></h4>
                            <ul class="list_none blog_meta">
                                <li><a href=""><i class="far fa-user"></i>đăng bởi <span class="text_default">admin</span></a></li>
                                <li><a href=""><i class="far fa-calendar"></i><span th:text="${#dates.format(b.date, 'dd-MM-yyyy')}"></span></a></li>
                                <li><a href=""><i class="far fa-comments"></i>4 bình luận</a></li>
                            </ul>
                            <p th:text="${b.summary}"></p>
                            <a th:href="@{'/blog/' +${b.url}}" class="blog_link">Đọc thêm <i class="ion-ios-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>

</body>
</html>