<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${blog.title}"> </th:block></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151613987-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151613987-1');
    </script>


</head>
<body>
<div layout:fragment="content">
    <section class="bg_light_yellow breadcrumb_section background_bg bg_fixed bg_size_contain" data-img-src="../assets/images/breadcrumb_bg.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 text-center">
                    <div class="page-title">
                        <h1>Bài viết</h1>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION BANNER -->

    <!-- START SECTION BLOG -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single_post">
                        <div class="blog_img">
                            <a href="#">
                            </a>
                        </div>
                        <div class="single_post_content">
                            <div class="blog_text">
                                <h2 class="blog_title" th:text="${blog.title}"></h2>
                                <ul class="list_none blog_meta">
                                    <li><a href="#"><i class="far fa-user"></i>đăng bởi <span class="text_default">admin</span></a></li>
                                    <li><a href="#"><i class="far fa-comments"></i>4 bình luận</a></li>
                                </ul>
                               <p th:utext="${blog.content}"></p>
                                <div class="border-top border-bottom blog_post_footer">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-md-8 mb-3 mb-md-0">
                                            <div class="tags">
                                                <a href="#" th:text="${blog.title}"></a>

                                            </div>
                                        </div>
                                        <div class="col-md-4 text-md-right">
                                            <div class="share">
                                                <ul class="list_none social_icons">
                                                    <li><a href="https://www.facebook.com/daulacnguyenchat.com.vn" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                                    <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                                    <li><a href="#" class="sc_gplus"><i class="ion-social-googleplus"></i></a></li>
                                                    <li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                                                    <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="related_post">
                            <div class="posts-title">
                                <h5>Các bài viết khác</h5>
                            </div>
                            <div class="row">
                                <div class="col-12" >
                                    <div class="carousel_slide3 owl-carousel owl-theme" data-dots="false" data-margin="30">
                                        <div class="item" th:each="b : ${blog2}">
                                            <div class="blog_post">
                                                <div class="blog_img">
                                                    <a href="#">
                                                       <span th:utext="${b.thumb}"></span>
                                                    </a>
                                                </div>
                                                <div class="blog_content">
                                                    <h6 class="blog_title"><a th:href="@{'/blog/' +${b.url}}" th:text="${b.title}"></a></h6>
                                                    <ul class="list_none blog_meta">
                                                        <li><a href="#"><i class="far fa-calendar"></i><span th:text="${#dates.format(b.date, 'dd-MMM-yyyy')}"></span></a></li>
                                                        <li><a href="#"><i class="far fa-comments"></i>3 bình luận</a></li>
                                                    </ul>
                                                    <p th:text="${b.summary}"></p>
                                                    <a th:href="@{'/blog/' +${b.url}}" class="blog_link">Đọc tiếp <i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-area">
                            <div class="posts-title">
                                <h5 th:utext="${count} +' Lượt bình luận'"></h5>
                            </div>
                            <ul class="list_none comment_list">
                                <li class="comment_info" th:each=" c : ${allComment}">
                                    <div class="d-flex">
                                        <div class="user_img">
                                            <img class="radius_all_5" src="../assets/images/ICONWEB-15.png" alt="client_img1">
                                        </div>
                                        <div class="comment_content" >
                                            <div class="d-flex">
                                                <div class="meta_data">
                                                    <h6><a href="#" th:text="${c.name}">Huan Pham</a></h6>
                                                    <div class="comment-time" th:text="${#dates.format(c.date, 'dd-MMM-yyyy')}"></div>
                                                </div>
                                                <div class="ml-auto">
                                                    <a href="#" class="comment-reply btn btn-default rounded-0 btn-sm">Trả lời</a>
                                                </div>
                                            </div>
                                            <p th:text="${c.content}"></p>
                                        </div>
                                    </div>

                                </li>

                            </ul>
                            <div class="posts-title">
                                <h5>Viết bình luận</h5>
                            </div>
                            <form id="cm" class="field_form form_style2" th:action="@{/addComment}" th:object="${comment}" name="enq" method="post">
                                <input type="hidden" th:field="*{blog}">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input name="name" th:field="*{name}" class="form-control" placeholder="Họ tên" required="required" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input name="email" th:field="*{email}" class="form-control" placeholder="Địa chỉ Email" required="required" type="email">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <textarea rows="3" th:field="*{content}" name="message" class="form-control" placeholder="Nội dung bình luận" required="required"></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button value="Submit" name="submit" class="btn btn-default" title="Submit Your Message!" type="submit">Gửi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>