<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151613987-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151613987-1');
    </script>

</head>
<body>
    <div layout:fragment="content">
        <section class="bg_light_yellow breadcrumb_section background_bg bg_fixed bg_size_contain" data-img-src="assets/images/breadcrumb_bg.png">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 text-center">
                        <div class="page-title">
                            <h1>Giỏ hàng</h1>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="#">Giỏ hàng</a></li>

                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION BANNER -->

        <!-- START SECTION SHOP DETAIL -->
        <section>
            <div class="container" id="cart3">
                <div class="row" >
                    <div class="col-12">
                        <div class="table-responsive shop_cart_table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-price">Đớn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Tổng tiền</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="p in carts">
                                    <td class="product-thumbnail"><a href="#"><span ng-bind-html="p.product.img"></span></a></td>
                                    <td class="product-name" data-title="Product"><a href="#">{{p.product.name}}</a></td>
                                    <td class="product-price" data-title="Price">{{p.product.price | currency :  "VNĐ "   }} </td>
                                    <td class="product-quantity" data-title="Quantity"><div class="quantity">
                                        <input ng-click="removeQuantity(p)" type="button" value="-" class="minus">
                                        <input type="text" name="quantity" disabled value="{{p.quantity}}" title="Qty" class="qty" size="100">
                                        <input ng-click="addQuantity(p)" type="button" value="+" class="plus">
                                    </div></td>
                                    <td class="product-subtotal" data-title="Total">{{p.product.price*p.quantity | currency  : "VNĐ "}} </td>
                                    <td class="product-remove" data-title="Remove"><a href="#" ng-click="remove(p)"><i class="ti-close"></i></a></td>
                                </tr>


                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6" class="px-0">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                                                <div class="coupon field_form input-group">
                                                    <input type="text" value="" class="form-control" placeholder="Nhập mã giảm giá">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default btn-sm" type="submit">Áp dụng</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-6 text-left text-md-right">
                                                <a th:href="@{/}" class="btn btn-default btn-sm">Tiếp tục mua hàng</a>
                                                <a th:href="@{/gio-hang/thanh-toan}" class="btn btn-default btn-sm">Thanh toán</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="small_divider clearfix"></div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="heading_s2">
                            <h5>Giỏ hàng</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody><tr>
                                    <td class="cart_total_label">Tổng tiền</td>
                                    <td class="cart_total_amount">{{total | currency  : "VNĐ " }}</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Phí giao hàng</td>
                                    <td class="cart_total_amount">Miễn phí</td>
                                </tr>

                                </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="cart4">
                <div class="col-md-12">
                    <div class="heading_s2">
                        <h5>Giỏ hàng của bạn hiện đang trống</h5>
                    </div>
                </div>
            </div>
        </section>
</div>
</body>
</html>