<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151613987-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151613987-1');
    </script>

    <title>Dầu lạc nguyên chất hùng luyên</title>


</head>

<body>

<!-- LOADER -->


<!-- END LOADER -->

<!-- START HEADER -->

<!-- END HEADER -->

<!-- START SECTION BANNER -->
<div layout:fragment="content">
<section class="banner_slider p-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item bg_light_yellow active" >
                <div class="banner_slide_content">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="banner_content border_shape text-center animation" data-animation="zoomIn"
                                     data-animation-delay="0.4s" data-parallax='{"y": 30, "smoothness": 10}'>
                                    <h2 class="animation" data-animation="fadeInDown" data-animation-delay="0.5s">
                                        Nguyên chất 100%</h2>
                                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Nếu bạn
                                        đang tìm kiếm dầu ăn nguyên chất
                                        thay thế dầu ăn tinh luyện, bạn đã tìm đúng nơi</p>
                                    <a class="btn btn-default btn-radius btn-borderd animation" th:href="@{/san-pham}"
                                       data-animation="fadeInUp" data-animation-delay="0.7s">Xem thêm</a>
                                    <a class="btn btn-white btn-radius btn-borderd animation" th:href="@{/lien-he}"
                                       data-animation="fadeInUp" data-animation-delay="0.8s">Liện hệ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner_shape">
                    <div class="shape4">
                        <div class="animation" data-animation="fadeInLeftBig" data-animation-delay="0.5s">
                            <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape5.png"
                                 alt="shape5"/>
                        </div>
                    </div>
                    <div class="shape5">
                        <div class="animation" data-animation="slideInDown" data-animation-delay="0.5s">

                        </div>
                    </div>
                    <div class="shape6">
                        <div class="animation" data-animation="bounceInDown" data-animation-delay="0.5s">
                            <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape6.png"
                                 alt="shape6"/>
                        </div>
                    </div>
                    <div class="shape7">
                        <div class="animation" data-animation="fadeInRightBig" data-animation-delay="0.5s">
                            <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/clipart-vn-dau-phong.png"
                                 alt="shape7"/>
                        </div>
                    </div>
                    <div class="shape8">
                        <div class="animation" data-animation="slideInUp" data-animation-delay="0.5s">
                            <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape10.png"
                                 alt="shape10"/>
                        </div>
                    </div>
                    <div class="shape9">
                        <div class="animation" data-animation="bounceInUp" data-animation-delay="0.5s">
                            <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/hatlac-1.jpg"
                                 alt="shape9"/>
                        </div>
                    </div>
                    <div class="shape10">
                        <div class="animation" data-animation="bounceInUp" data-animation-delay="0.5s">

                        </div>
                    </div>
                    <div class="shape11">
                        <div class="animation" data-animation="bounceInUp" data-animation-delay="0.5s">
                            <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape11.png"
                                 alt="shape11"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- END SECTION BANNER -->

<!-- START SECTION BANNER BOX -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 animation" data-animation="bounceInUp" data-animation-delay="0.2s">
                <div class="banner_box box_shadow4 radius_all_10">
                    <div class="banner_text">
                        <h3>Dầu đậu nành</h3>
                        <p>100% từ đậu tương</p>
                        <em><a href="#"><u>Mua ngay</u></a></em>
                    </div>
                    <div class="banner_img">
                        <img src="assets/images/cc.jpg" alt="banner_img1"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animation" data-animation="bounceInUp" data-animation-delay="0.3s">
                <div class="banner_box box_shadow4 radius_all_10">
                    <div class="banner_text">
                        <h3>Dầu lạc</h3>
                        <p>100% từ hạt lạc</p>
                        <em><a href="#"><u>Mua ngay</u></a></em>
                    </div>
                    <div class="banner_img">
                        <img src="assets/images/4_60489.jpg" alt="banner_img2"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animation" data-animation="bounceInUp" data-animation-delay="0.4s">
                <div class="banner_box box_shadow4 radius_all_10">
                    <div class="banner_text">
                        <h3>Kẹo lạc</h3>
                        <p>100% từ hạt lạc</p>
                        <em><a href="#"><u>Mua ngay</u></a></em>
                    </div>
                    <div class="banner_img">
                        <img src="assets/images/lac-4.png" alt="banner_img3"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END SECTION BANNER BOX -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><strong>&rarr; Dầu lạc H&ugrave;ng Luy&ecirc;n - Nguy&ecirc;n chất đến từng giọt dầu :&nbsp;</strong>X&oacute;m trung đ&ocirc;ng x&atilde; y&ecirc;n cường l&agrave;n nơi đặt cơ sở sản xuất sản phẩm dầu lạc mang nh&atilde;n hiệu H&ugrave;ng Luy&ecirc;n v&agrave; kẹo lạc Bảo Hưng đ&acirc;y l&agrave; những sản phẩm cuối c&ugrave;ng được chế biến từ hạt lạc do n&ocirc;ng d&acirc;n Y&ecirc;n Cường l&agrave;m ra.</p>

                <p>&rarr; <strong>An to&agrave;n sức khỏe</strong>&nbsp;: Từ xa xưa chắc c&aacute;c bạn cũng đ&atilde; biết, dầu đậu phộng rất tốt cho sức khỏe. Dầu lạc H&ugrave;ng Luy&ecirc;n cam kết mang đến cho kh&aacute;ch h&agrave;ng những sản phẩm 100% nguy&ecirc;n chất từ hạt lạc. Phương ch&acirc;m của ch&uacute;ng t&ocirc;i : An to&agrave;n sức khỏe l&agrave; tr&ecirc;n hết. Ch&uacute;ng t&ocirc;i cam kết bồi thường 100% nếu qu&yacute; kh&aacute;ch ph&aacute;t hiện h&agrave;ng giả h&agrave;ng k&eacute;m chất lượng.</p>

                <p>&rarr; <strong>Quy tr&igrave;nh sản xuất hiện đại kh&eacute;p k&iacute;n </strong>: Nhằm mang đến sững sản phẩm đạt chất lương cao đến tay người ti&ecirc;u d&ugrave;ng. Ch&uacute;ng t&ocirc;i&nbsp;đ&atilde; sử dụng những thiết bị hiện đại v&agrave;o sản xuất để mang đến cho kh&aacute;ch h&agrave;ng những g&igrave; tốt nhất c&oacute; thể.&nbsp;</p>

                <p><strong>&rarr; Địa chỉ cơ sở&nbsp;&nbsp;: </strong>Đội 2, Trung Đ&ocirc;ng, Y&ecirc;n Cường, &Yacute; y&ecirc;n, Nam định</p>

                <p>&nbsp;</p>

            </div>
        </div>
    </div>

<!-- START SECTION WHY CHOOSE US -->
<section class="bg_gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-8 text-center">
                <div class="heading_s1 text-center animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <h2>Tại sao lại sử dụng dầu ăn nguyên chất</h2>
                </div>
                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.03s"></p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box icon_box_style1 bg-white radius_all_10 animation" data-animation="fadeInUp"
                     data-animation-delay="0.04s">
                    <div class="box_icon">
                        <img src="assets/images/icon1.png" alt="icon1">
                    </div>
                    <div class="intro_desc">
                        <h6>Tăng</h6>
                        <p>Sức đề kháng, chống Oxy hóa do lạc có hoạt chất Resveratrol, rất tốt cho trẻ nhỏ và người lớn
                            tuổi
                        </p>
                    </div>
                </div>
                <div class="icon_box icon_box_style1 bg-white radius_all_10 animation" data-animation="fadeInUp"
                     data-animation-delay="0.05s">
                    <div class="box_icon">
                        <img src="assets/images/icon2.png" alt="icon2">
                    </div>
                    <div class="intro_desc">
                        <h6>Không tăng</h6>
                        <p>Mỡ máu vì dầu lạc không có cholesterol, rất tốt cho sức khỏe tim mạch</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 order-lg-last">
                <div class="icon_box icon_box_style1 bg-white radius_all_10 animation" data-animation="fadeInUp"
                     data-animation-delay="0.04s">
                    <div class="box_icon">
                        <img src="assets/images/icon3.png" alt="icon3">
                    </div>
                    <div class="intro_desc">
                        <h6>100% nguyên chất từ hạt lạc</h6>
                        <p>Lạc được chọn lọc kỹ càng rồi đưa vào máy ép không phụ gia, không chất bảo quản</p>
                    </div>
                </div>
                <div class="icon_box icon_box_style1 bg-white radius_all_10 animation" data-animation="fadeInUp"
                     data-animation-delay="0.05s">
                    <div class="box_icon">
                        <img src="assets/images/icon4.png" alt="icon4">
                    </div>
                    <div class="intro_desc">
                        <h6>Không phải</h6>
                        <p>Ăn thêm cả chất tạo màu, tạo mùi, chất bảo quản</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="why_choose_img bounceimg">
                    <img src="assets/images/bao-nhieu-kg-lac-duoc-1-lit-dau-1-kg-lac-ep-duoc-bao-nhieu-dau-1.jpg" alt="why_choose_img">
                </div>
            </div>
        </div>
    </div>
    <div class="wave_shape"><img src="assets/images/wave_shape.png" alt="wave_shape"></div>
    <div class="overlap_shape">
        <div class="ol_shape1">
            <div class="animation" data-animation="bounceInDown" data-animation-delay="0.5s">

            </div>
        </div>
        <div class="ol_shape2">
            <div class="animation" data-animation="zoomIn" data-animation-delay="0.5s">

            </div>
        </div>
        <div class="ol_shape3">
            <div class="animation" data-animation="zoomIn" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape20.png" alt="shape20"/>
            </div>
        </div>
        <div class="ol_shape4">
            <div class="animation" data-animation="bounceInUp" data-animation-delay="0.5s">

            </div>
        </div>
        <div class="ol_shape5">
            <div class="animation" data-animation="slideInRight" data-animation-delay="0.5s">

            </div>
        </div>
        <div class="ol_shape6">
            <div class="animation" data-animation="slideInRight" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape23.png" alt="shape23"/>
            </div>
        </div>
        <div class="ol_shape7">
            <div class="animation" data-animation="slideInRight" data-animation-delay="0.5s">

            </div>
        </div>
    </div>
</section>
<!-- END SECTION WHY CHOOSE US -->

<!-- START SECTION PRODUCT -->
<section class="pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-sm-10 text-center">
                <div class="heading_s1 text-center animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <h2>Sản phẩm</h2>
                </div>
                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.03s"></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="product_content">
                    <ul class="nav nav-tabs justify-content-center animation" data-animation="fadeInUp"
                        data-animation-delay="0.04s" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab"
                               aria-controls="tab-1" aria-selected="true"><span class="pr_icon1"></span>Tất cả sản phẩm</a>
                        </li>
                    </ul>
                    <div class="small_divider clearfix"></div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                            <div class="row animation" data-animation="fadeInUp" data-animation-delay="0.05s">

                                <div th:each="p : ${product}" class="col-xl-3 col-lg-4 col-sm-6 ">
                                    <div class="product">
                                        <span class="pr_flash bg_green">Sale</span>
                                        <div class="product_img">

                                            <a href="#"><div class="aaa" th:utext="${p.img}"></div></a>

                                            <div class="product_action_box">
                                                <ul class="list_none pr_action_btn">
                                                    <li><a href="#"><i class="ti-heart"></i></a></li>
                                                    <li><a th:href="@{'/gio-hang/' +${p.id}}"><i class="ti-shopping-cart"></i></a></li>
                                                    <li>
                                                        <a th:href="@{'/san-pham/' +${p.url}}"><i class="ti-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product_info">
                                            <h6><a th:href="@{'/san-pham/' +${p.url}}" th:utext="${p.name}"></a></h6>
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <span class="price" th:utext="${#numbers.formatDecimal(p.price, 0, 'COMMA', 2, 'POINT')}"> VNĐ</span><span> VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlap_shape">
        <div class="ol_shape8">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img data-parallax='{"y": -30, "smoothness": 20}' src="assets/images/shape25.png" alt="shape25"/>
            </div>
        </div>
        <div class="ol_shape9">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape26.png" alt="shape26"/>
            </div>
        </div>
        <div class="ol_shape10">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape27.png" alt="shape27"/>
            </div>
        </div>
        <div class="ol_shape11">
            <div class="animation" data-animation="fadeInRight" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape28.png" alt="shape28"/>
            </div>
        </div>
        <div class="ol_shape12">
            <div class="animation" data-animation="fadeInRight" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape29.png" alt="shape29"/>
            </div>
        </div>
        <div class="ol_shape13">
            <div class="animation" data-animation="fadeInRight" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape30.png" alt="shape30"/>
            </div>
        </div>
        <div class="ol_shape14">
            <div class="bounceimg" data-animation="fadeInRight" data-animation-delay="0.5s">
                <img data-parallax='{"y": 30, "smoothness": 20}' src="assets/images/shape31.png" alt="shape31"/>
            </div>
        </div>
    </div>

</section>

<!-- START SECTION PRODUCT -->

<!-- START SECTION DEAL OF THE DAY -->
    <section class="parallax_bg overlay_bg_60" data-parallax-bg-image="assets/images/an-lac-co-beo-khong.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="small_divider"></div>
                    <div class="video_content text-center">
                        <a href="https://www.youtube.com/watch?v=Dj38nY3cZlA" class="banner_ripple video_popup animation" data-animation="fadeInUp" data-animation-delay="0.2s"><span class="ripple"><i class="ion-play"></i></span></a>
                        <div class="video_text text_white mt-4 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                            <div class="heading_s3">
                                <h3>Dầu lạc Hùng Luyên - Nguyên chất đến từng giọt</h3>
                            </div>
                            <p class=" animation" data-animation="fadeInUp" data-animation-delay="0.4s">Chúng tôi cam kết mang đến bạn những sản phẩm được làm từ 100% hạt lạc, đậu nành, vừng... không phụ gia, không chất bảo quản. Chúng tôi nói không với : HÓA CHẤT + CHẤT BẢO QUẢN + PHA TRỘN.
                                Dầu lạc Hùng Luyên luôn đặt “chữ Tín” lên hàng đầu.</p>
                        </div>
                    </div>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
    </section>
<section class="pb_20">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center">
                    <div class="heading_s1 text-center animation" data-animation="fadeInUp"
                         data-animation-delay="0.02s">
                        <h2>Blog tin tức</h2>
                    </div>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.03s"></p>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div th:each="b : ${blog}" class="col-lg-4 col-md-6">
                <div class="blog_post blog_style1 radius_all_10 animation" data-animation="fadeInUp"
                     data-animation-delay="0.04s">
                    <div class="blog_img">
                        <a th:href="@{'/blog/' +${b.url}}">
                            <span th:utext="${b.thumb}"></span>
                        </a>
                        <div class="blog_date style1"><h4 th:text="${#dates.format(b.date, 'dd')}"></h4><span th:text="${#dates.format(b.date, 'MMM')}"></span></div>
                    </div>
                    <div class="blog_content">
                        <h6 class="blog_title"><a th:href="@{'/blog/' +${b.url}}" th:text="${b.title}"></a></h6>
                        <ul class="list_none blog_meta">
                            <li><a ><i class="far fa-user"></i>đăng bởi <span class="text_default">admin</span></a>
                            </li>
                            <li><a><i class="far fa-comments"></i>4 Comment</a></li>
                        </ul>
                        <p th:text="${b.summary}">

                        </p>
                        <a th:href="@{'/blog/' +${b.url}}" class="blog_link">Đọc thêm <i class="ion-ios-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</div>

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>


</body>
</html>