<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${product.name}"></th:block></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151613987-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151613987-1');
    </script>

    <style type="text/css">


        label.error {
            display: inline-block;
            font-style: italic;
            color:red;

        }
    </style>
</head>
<body>
<div layout:fragment="content">
<section class="bg_light_yellow breadcrumb_section background_bg bg_fixed bg_size_contain" data-img-src="../assets/images/breadcrumb_bg.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 text-center">
                <div class="page-title">
                    <h1>Chi tiết sản phẩm</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${product.name}"></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->

<!-- START SECTION SHOP DETAIL -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image">
                    <style>

                    </style>
                    <span class="pr_flash bg_green">Sale</span>
                    <div class="aaa" th:utext="${product.img}"></div>
                    <div id="pr_item_gallery" class="product_gallery_item owl-thumbs-slider owl-carousel owl-theme">
                        <div class="item">
                            <a href="#"  >
                                <span th:utext="${product.img}"></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" >
                                <span th:utext="${product.img}"></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" >
                                <span th:utext="${product.img}"></span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#"  >
                                <span th:utext="${product.img}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pr_detail">
                    <div class="product-description">
                        <div class="product-title">
                            <h4><a href="#" th:text="${product.name}"></a></h4>
                        </div>
                        <div class="product_price float-left">
                            <span class="price" th:utext="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"> VNĐ</span><span> VNĐ</span>
                        </div>
                        <div class="rating mt-2 float-right"><div class="product_rate" style="width:80%"></div></div>
                        <div class="clearfix"></div>
                        <hr>
                        <p th:text="${product.detail}"></p>

                    </div>
                    <hr>
                    <form th:action="@{/addToCart}" th:object="${item}" method="post" id="addtoCart">
                    <div class="cart_extra">
                        <div class="cart-product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input th:field="*{quantity}" type="text" pattern="[0-9]{1,2}"  name="quantity" value="1" title="Qty" class="qty" size="0">

                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="cart_btn">
                            <button class="btn btn-default btn-radius btn-sm btn-addtocart" type="submit">Thêm vào giỏ hàng</button>
                            <a class="add_wishlist" href="#"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                        <input type="hidden" th:field="*{product}">

                    </form>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="product-meta list_none">
                        <li>Danh mục : <a href="#" th:text="${product.typeProduct.name}"></a>
                        <li>Tags : <a href="#" rel="tag" th:text="${product.url}"></a></li>
                    </ul>
                    <div class="product_share d-block d-sm-flex align-items-center">
                        <span>Chia sẻ :</span>
                        <ul class="list_none social_icons border_social rounded_social">
                            <li><a href="https://www.facebook.com/daulacnguyenchat.com.vn"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-style1">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Chi tiết</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Additional-info-tab" data-toggle="tab" href="#Additional-info" role="tab" aria-controls="Additional-info" aria-selected="false">Thông số</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Đánh giá</a>
                        </li>
                    </ul>
                    <div class="tab-content shop_info_tab">
                        <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                            <p th:utext="${product.content}"></p>

                        </div>
                        <div class="tab-pane fade" id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Khối lượng</td>
                                    <td>1 Kg</td>
                                </tr>
                                <tr>
                                    <td>Màu sắc</td>
                                    <td>Vàng</td>
                                </tr>
                                <tr>
                                    <td>Chi tiết</td>
                                    <td>15 × 10 × 20 cm</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                            <div class="comments">
                                <h5>Đánh giá của khách hàng</h5>
                                <ul class="list_none comment_list mt-4">
                                    <li th:each="p : ${review}">
                                        <div class="comment_img">
                                            <img src="../assets/images/ICONWEB-15.png" alt="client_img1"/>
                                        </div>
                                        <div class="comment_block">
                                            <div class="rating"><div class="product_rate" style="width:80%"></div></div>
                                            <p class="customer_meta">
                                                <span class="review_author" th:text="${p.name}">Huan Pham</span>
                                                <span class="comment-date" th:text="${#dates.format(p.date, 'dd-MM-yyyy')}">March 5, 2018</span>
                                            </p>
                                            <div class="description">
                                                <p th:text="${p.content}">Dầu lạc rất ngon. Sẽ ủng hộ dài dài </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="review_form field_form">
                                <h5>Mức độ hài lòng</h5>
                                <form class="row mt-3" th:action="@{/add}" th:object="${review2}" id="formreview" method="post">
                                    <div class="form-group col-12">
                                        <p class="star_rating">
                                            <span data-value="1"><i class="ion-android-star"></i></span>
                                            <span data-value="2"><i class="ion-android-star"></i></span>
                                            <span data-value="3"><i class="ion-android-star"></i></span>
                                            <span data-value="4"><i class="ion-android-star"></i></span>
                                            <span data-value="5"><i class="ion-android-star"></i></span>
                                        </p>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="hidden" th:field="*{product}">
                                        <textarea required="required" th:field="*{content}" placeholder="Nhập nội dung" class="form-control" name="message" rows="4"></textarea>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <input required="required" th:field="*{name}" placeholder="Nhập họ tên" class="form-control" name="name" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" th:field="*{email}" placeholder="Nhập email" class="form-control" name="email" type="email">
                                    </div>

                                    <div class="form-group col-12">
                                        <button type="submit" class="btn btn-default" name="submit" value="Submit">Gửi đánh giá</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="medium_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="heading_s2 m-0">
                    <h3>Các sản phẩm liên quan</h3>
                </div>
                <div class="small_divider clearfix"></div>
                <div class="product_slider carousel_slide4 owl-carousel owl-theme nav_top_right2" data-margin="30" data-nav="true" data-dots="false">
                    <div class="item" th:each=" p : ${products}">
                        <div class="product">
                            <span class="pr_flash bg_green">Sale</span>
                            <div class="product_img">
                                <a th:href="@{'/san-pham/' +${p.url}}"><span th:utext="${p.img}"></span></a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a href="#"><i class="ti-heart"></i></a></li>
                                        <li><a th:href="@{'/gio-hang/' +${p.id}}"><i class="ti-shopping-cart"></i></a></li>
                                        <li><a th:href="@{'/san-pham/' +${p.url}}" ><i class="ti-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6><a th:href="@{'/san-pham/' +${p.url}}" th:text="${p.name}">Fresh Organic Strawberry</a></h6>
                                <div class="rating"><div class="product_rate" style="width:80%"></div></div>
                                <span class="price" th:utext="${#numbers.formatDecimal(p.price, 0, 'COMMA', 2, 'POINT')}"> VNĐ</span><span> VNĐ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>