<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151613987-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151613987-1');
    </script>

</head>
<body>
<div layout:fragment="content">
    <section class="bg_light_yellow breadcrumb_section background_bg bg_fixed bg_size_contain" data-img-src="../assets/images/breadcrumb_bg.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 text-center">
                    <div class="page-title">
                        <h1>Danh sách sản phẩm</h1>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION BANNER -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row align-items-center justify-content-between pb-1 mb-4">
                        <div class="col-auto">
                            <div class="custom_select">
                                <select>
                                    <option value="default">Sắp xếp theo giá tăng dần</option>
                                    <option value="popularity">Sắp xếp theo giá giảm dần</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="align-middle">.</span>
                            <div class="list_grid_icon">
                                <a href="javascript:Void(0);" class="shorting_icon grid_view"><i class="ion-grid"></i></a>
                                <a href="javascript:Void(0);" class="shorting_icon list_view active"><i class="ion-navicon-round"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row shop_container list_view">
                        <div class="col-lg-4 col-sm-6" th:each="p : ${product}">
                            <div class="product" >
                                <span class="pr_flash bg_green">Sale</span>
                                <div class="product_img">
                                    <a href="#"><span th:utext="${p.img}"></span></a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li><a href="#"><i class="ti-heart"></i></a></li>
                                            <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                            <li><a><i class="ti-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info" >
                                    <h6><a th:href="@{'/san-pham/' +${p.url}}"  th:text="${p.name}">Fresh Organic Strawberry</a></h6>
                                    <div class="rating"><div class="product_rate" style="width:80%"></div></div>
                                    <span class="price" th:utext="${#numbers.formatDecimal(p.price, 0, 'COMMA', 2, 'POINT')}"> VNĐ</span><span> VNĐ</span>
                                    <div class="pr_desc">
                                        <p th:text="${p.detail}"></p>
                                    </div>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a th:href="@{'/gio-hang/' +${p.id}}"><i class="ti-shopping-cart"></i> Cho vào giỏ hàng</a></li>
                                            <li><a href="#"><i class="ti-heart"></i></a></li>
                                            <li><a th:href="@{'/san-pham/' +${p.url}}" ><i class="ti-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 order-lg-first mt-5 mt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">Danh mục sản phẩm</h5>
                            <ul class="list_none widget_categories border_bottom_dash" th:each="t :${typeProduct}">
                                <li><a th:href="@{'/loai-san-pham/'+${t.id}}"><span class="categories_name" th:text="${t.name}">Dried Products</span><span class="categories_num"></span></a></li>

                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Lọc theo khoảng giá</h5>
                            <div class="filter_price">
                                <div id="price_filter"></div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Giá <span id="flt_price"></span></span>
                                    <input type="hidden" id="price_first">
                                    <input type="hidden" id="price_second">
                                    <button type="submit" class="btn btn-default btn-sm">Lọc</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Đã xem gần đây</h5>
                            <ul class="recent_post border_bottom_dash list_none">
                                <li>
                                    <div class="post_img">
                                        <a href="#"><img src="https://daulachungluyen.com/public/image/images/vat1497838700.jpg"></a>
                                    </div>
                                    <div class="post_content">
                                        <h6><a href="#">Dầu lạc nguyên chất</a></h6>
                                        <div class="rating"><div class="product_rate" style="width:100%"></div></div>
                                        <div class="product_price"><span class="price"></span></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">tags</h5>
                            <div class="tags">
                                <a href="#">dầu lạc</a>
                                <a href="#">dầu lạc nguyên chất</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>